# Problem Set 2

This problem set is based on lectures 4,5 and 6. For a complete list of topics please consult page 2 of the course syllabus. Please consult the “Instructions for Problem Set Submission

Question 1
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [35]:
a = 0

def b():
    global a
    a= c(a)
    
def c(a):
    return a+2
b() 
b() 
b() 
a

6

When the last expression (a) is evaluated, 6 will be displayed.

Steps for execuated statement

1. a = 0 #a variable is initialized with value 0
2. def b() # function b is defined
3. global a #global variable a is declared inside function a
4. a= c(a) in the function, c(a) function with the current value of a, which is 0. 'c(a)' adds 2 to the current value of 'a', so a is updated to 0 + 2, which is 2.
a = c(a)  # Now 'a' is updated to 2
5. b() is called again. The function is executed again and the same process repeats
6. b() is once again called. a is updated from 4 to 6
7. At the end, a is evalueted after 3 calls to b(). a now holds 6. So, 6 is displayed

Question 2 

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file

In [36]:
def file_length(file_name):
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))
file_length("C:/Users/User/Desktop/Filelength.txt")

123

In [29]:
def file_length(file_name):
    try:
        file = open(file_name)
        content = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("The file {} was not found".format(file_name))
file_length("ideterm.py")

The file ideterm.py was not found

Question 3 

Write a class named Marsupial that can be used as shown below:

In [31]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.

In [32]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
    
k = Kangaroo(0, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [33]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

['doll', 'firetruck', 'kitten']

In [34]:
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (6,0)

Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [33]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

collatz(1)

1

In [37]:
collatz(10)

10
5
16
8
4
2
1

Question 5 

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. >>> binary(0) 0 >>> binary(1) 1 >>> binary(3) 11 >>> binary(9) 1001

In [34]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end="")

# Get user input for a non-negative integer
try:
    user_input = int(input("Enter a non-negative integer: "))
    if user_input < 0:
        print("Please enter a non-negative integer.")
    else:
        print(f"The binary representation of {user_input} is: ", end="")
        binary(user_input)
        print()
except ValueError:
    print("Invalid input. Please enter a non-negative integer.")

Enter a non-negative integer: 3
The binary representation of 3 is: 11

Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [44]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.inside_heading = False
        self.indentation_level = 0
        self.headings = []

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and tag[1:].isdigit():
            self.inside_heading = True
            self.indentation_level = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if self.inside_heading:
            self.inside_heading = False

    def handle_data(self, data):
        if self.inside_heading:
            indentation = " " * self.indentation_level
            self.headings.append(f"{indentation}{data}")

    def print_headings(self):
        for heading in self.headings:
            print(heading)

# Specify the full path to the 'w3c.html' file on your desktop
desktop_path = r'C:\Users\User\Desktop\w3c.html'  # Replace 'YourUsername' with your actual username

# Open and read the 'w3c.html' file from the desktop
with open(desktop_path, 'r') as infile:
    content = infile.read()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

W3C Mission
 Principles

Question 7 Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation,

In [13]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(urls, depth, visited=set(), indent=0):
    if depth < 0:
        return

    for url in urls:
        if url in visited:
            continue
        visited.add(url)

        try:
            response = requests.get(url)
            response.raise_for_status()
            soup = BeautifulSoup(response.text, 'html.parser')
            print(' ' * indent + url)

            if depth > 0:
                for link in soup.find_all('a'):
                    href = link.get('href')
                    if href.endswith('.html'):
                        next_url = urljoin(url, href) 
                        webdir([next_url], depth - 1, visited, indent + 2)

        except Exception as e:
            print(' ' * indent + f"Error accessing {url}: {str(e)}")

# Listing of URLs
starting_urls = [
    'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html',
    'http://reed.cs.depaul.edu/lperkovic/csc242/test2.html',
    'http://reed.cs.depaul.edu/lperkovic/csc242/test3.html',
    'http://reed.cs.depaul.edu/lperkovic/csc242/test4.html',
]

# Example usage with the list of starting URLs
webdir(starting_urls, 2)

Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test2.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test3.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test4.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [10]:
# Importing the necessary libraries
import sqlite3

# Connecting to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Creating a cursor to execute SQL queries
cursor = conn.cursor()

# Creating a table to store the data
cursor.execute('''CREATE TABLE WeatherData (
                  City TEXT,
                  Country TEXT,
                  Season TEXT,
                  Temperature REAL,
                  Rainfall REAL
                )''')

# Inserting data into the table using INSERT statements
data_to_insert = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

for data in data_to_insert:
    cursor.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?)", data)

conn.commit()

# a) All the temperature data
cursor.execute("SELECT Temperature FROM WeatherData")
result_a = cursor.fetchall()
print("a) All the temperature data:")
print(result_a)

# b) All the cities, but without repetition
cursor.execute("SELECT DISTINCT City FROM WeatherData")
result_b = cursor.fetchall()
print("\nb) All the cities, but without repetition:")
print(result_b)

# c) All the records for India
cursor.execute("SELECT * FROM WeatherData WHERE Country = 'India'")
result_c = cursor.fetchall()
print("\nc) All the records for India:")
print(result_c)

# d) All the Fall records
cursor.execute("SELECT * FROM WeatherData WHERE Season = 'Fall'")
result_d = cursor.fetchall()
print("\nd) All the Fall records:")
print(result_d)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute("SELECT City, Country, Season FROM WeatherData GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
result_e = cursor.fetchall()
print("\ne) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
print(result_e)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute("SELECT City, Country FROM WeatherData WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
result_f = cursor.fetchall()
print("\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
print(result_f)

# g) The total annual rainfall for Cairo
cursor.execute("SELECT SUM(Rainfall) FROM WeatherData WHERE City = 'Cairo'")
result_g = cursor.fetchone()[0]
print("\ng) The total annual rainfall for Cairo:")
print(result_g)

# h) The total rainfall for each season
cursor.execute("SELECT Season, SUM(Rainfall) FROM WeatherData GROUP BY Season")
result_h = cursor.fetchall()
print("\nh) The total rainfall for each season:")
print(result_h)

# Close the database connection
conn.close()

a) All the temperature data:
[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

b) All the cities, but without repetition:
[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India:
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records:
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo:
27.6

h) The total rainfall for each season:
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [9]:
# Defining the list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Uppercase version of each word
upper_words = [word.upper() for word in words]
upper_words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [2]:
# Lowercase for each word
lower_words = [word.lower() for word in words]
lower_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [3]:
# List of lengths of words
word_lengths = [len(word) for word in words]
word_lengths

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [6]:
# List of lists containing uppercase, lowercase, and length
word_info = []
for word in words:
    info = [word.upper(), word.lower(), len(word)]
    word_info.append(info)
print(word_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [8]:
# Words with 4 or more characters
long_words = [word for word in words if len(word) >= 4]
long_words

['quick', 'brown', 'jumps', 'over', 'lazy']